.logo
  position relative
  width 80%
  @extends .image-replace
  background-image url('http://staging.chihulygardenandglass.com/static/img/svg/logo.svg')
  background-repeat no-repeat
  background-size contain

  +above(tablet)
    width 150px
    height 50px
    background-image url('http://staging.chihulygardenandglass.com/static/img/svg/logo-mobile.svg')
    position absolute
    left 0