/* /////////////////////////////////////////////////////

GLOBAL LAYOUT

///////////////////////////////////////////////////// */

.container
	max-width 1200px
	margin 100px auto
	padding global-padding
